{% extends "base.html" %}
{% load edit_link %}

{% block menu %}

  {% if user.is_authenticated %}
    <a href="/edit">edit</a>
    <a href="{% edit_link person %}">admin</a>
    <a href="/logout">logout</a>
  {% else %}
    <a href="/login">login</a>
  {% endif %}

{% endblock menu %}

{% block content %}

{% if person %}
  <div class="dark">
  <table id="bio" cellspacing="7px">
    <tr>
      <td>{{ person.name }}</td>
      <td>Contacts</td>
    </tr>
    <tr>
      <td>{{ person.last_name }}</td>
      <td>Email: {{ person.email }}</td>
    </tr>
    <tr>
      <td>{{ person.birthday }}</td>
      <td>Jabber: {{ person.jabber }}</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>Skype: {{ person.skype }}</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>Bio:</td>
    </tr>
    <tr>
      <td rowspan="3">
        <img src="{{ settings.MEDIA_URL }}{{ person.photo }}" class="photo">
      </td>
      <td>{{ person.bio }}</td>
    </tr>
    <tr>
      <td>Other contacts:</td>
    </tr>
    <tr>
      <td>{{ person.contacts }}</td>
    </tr>
  </table>
  </div>
{% else %}
  No candidates in db.
{% endif %}

<a href='/requests'>requests</a>

{% endblock content %}
